* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */
/*Adding the top and bottom images*/
article {

  /*Only adding the top image as a fall back*/
  background-image: url("/img/top-image.png");
  background-repeat: no-repeat;
  background-position: top;

  background: 
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.5) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.5) 100%
    ),
  url("/img/top-image.png") no-repeat top,
  url("/img/bottom-image.png") no-repeat bottom;

  background-color: white;


  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}

/*h1 background additions*/
h1 {
  background-image: url("/img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  /*
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,.5));
  */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
} 

.article-text {
  position: relative;
  top: 20%;
  padding-right: 10%;
  padding-left: 10%;
  column-count: 2;
  column-gap: 20mm;
}